#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.card {
    width: 100%;
    max-width: 14.125rem;
}

.linear-gradient {
    background: linear-gradient(90deg, var(--primary-color) 40%, var(--light-gray) 20%, var(--light-bg) 50%);
}
