@import "./styles/fonts.css";
@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #415167;
    --accent-color: #C7A17A;
    --accent-color-lighter: #F9F5E8;
    --dark-grey: #151D28;
    --light-gray: #EDF0F5;
    --light-bg: #f9fbff;

    --container-width: 69rem;
    --container-lg-width: 90rem;
    --container-padding: 1rem;

    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;

    color-scheme: light dark;
    color: var(--primary-color);
    background-color: var(--light-gray);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.container {
    margin-inline: auto;
    max-width: calc(var(--container-width) + var(--container-padding) * 2);
    padding: 0 var(--container-padding);
    width: 100%;
}

.container--lg {
    margin-inline: auto;
    max-width: calc(var(--container-lg-width) + var(--container-padding) * 2);
    padding: 0 var(--container-padding);
    width: 100%;
}
