@import "./styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #415167;
    --accent-color: #C7A17A;
    --accent-color-lighter: #F9F5E8;
    --dark-grey: #151D28;
    --light-gray: #EDF0F5;

    --containerWidth: 69rem;
    --containerPadding: 1rem;

    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;

    color-scheme: light dark;
    color: var(--primary-color);
    background-color: var(--light-gray);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin-inline: auto;
    max-width: calc(var(--containerWidth) + var(--containerPadding) * 2);
    padding: 0 var(--containerPadding);
    width: 100%;
}
